.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}


.glav_icran {
    display: flex;
    justify-content: center;
    align-items: center;

}



section {
    margin: 70px 0; /* Отступы между секциями */
}

.skills{
margin: 100px 0;
color : #fcccfa;

}

h2 {
    margin-top: 0;
}

.profile-photo {
    width: 150px; /* Или другой размер по вашему желанию */
    height: auto;
    border-radius: 50%; /* Делает фотографию круглой */
    margin-right: 20px;
    float: left; /* Выравнивание фотографии слева от текста */
}